/*----------------- Feuille de style du projet PHP ---------------------
-----------------------------------------------------------------------*/

html
{
    position: relative;
}

#logo
{
    padding-top: 2em;
}

.cocktail-out
{
    margin-bottom: 1em;
}

.cocktail-in
{
    height: 15em;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    color: red;
}

.cocktail-in::after
{
    content: "";
    background: url(../img/cocktail_icone.jpg);
    background-size: cover;
    opacity: 0.26;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#inner_presentation
{
}

.cocktail-in img
{
    width: 100%;
}

.exige
{
    color: red;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.erreur
{
    color: darkred;
    background-color: rgba(255,0,0, 0.2);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
