{% extends 'index.html.twig' %}

{% block titre %} Editer son profile - {{ parent() }}{% endblock %}

{% set user = session.user_courant %}

{% block block_principal %}
    <div class="row">
        <h2 class="text-center"> Modification de mot de passe </h2>
    </div>

    <section class="row">
        {% block block_erreur %} {{ parent() }} {% endblock %}
        <br/>


        <form id="form_mdp" method="post" class="form-horizontal" role="form">
            <div id="erreurs"></div>

            <div class="form-group">
                <label for="pseudo" class="col-xs-12 col-sm-2 control-label"> Pseudo : </label>
                <input id="pseudo" name="pseudo" type="text" class="col-xs-12 col-sm-6" value="{{ user.pseudo }}"
                       placeholder="Pseudo" disabled />
            </div>

            <div class="form-group">
                <label for="mdpactuel" class="col-xs-12 col-sm-2 control-label"> Actuel : </label>
                <input id="mdpactuel" name="mdpactuel" type="password" class="col-xs-12 col-sm-6"
                       placeholder="Mot de passe actuel" />
            </div>
			<div class="form-group">
				<hr class="col-xs-12 col-sm-offset-2 col-sm-6"/>
			</div>
			<div class="form-group">
				<div class="password-meter col-xs-12 col-sm-offset-2 col-sm-6">
					<div class="password-meter-message"> </div>
					<div class="password-meter-bg">
						<div class="password-meter-bar"></div>
					</div>
				</div>
			</div>
            <div class="form-group">
                <label for="nouveaumdp" class="col-xs-12 col-sm-2 control-label"> Nouveau : </label>
                <input id="nouveaumdp" name="nouveaumdp" type="password" class="col-xs-12 col-sm-6"
                       placeholder="Nouveau mot de passe" />
            </div>

            <div class="form-group">
                <label for="confNouveau" class="col-xs-12 col-sm-2 control-label"> Confirmez : </label>
                <input id="confNouveau" name="confNouveau" type="password" class="col-xs-12 col-sm-6"
                       placeholder="Confirmez nouveau mot de passe" />
            </div>

            <br/>
            <div class="form-group">
                <div class="col-sm-offset-2">
                    <button type="submit" name="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok-sign"></span> Envoyer </button>
                </div>
            </div>
        </form> <!-- fin du formulaire -->
    </section>
{% endblock %}


{% block block_scripts %}
    <script type="text/javascript" src="js/validationChgtMdp.js"></script>
{% endblock %}
