{% extends 'index.html.twig' %}

{% block titre %} Connexion - {{ parent() }}{% endblock %}

{% block block_principal %}
<div class="row">
    <h2 class="text-center"> Connexion </h2>
</div>

<section class="row">

    {% block block_erreur %} {{ parent() }} {% endblock %}
    <br/>

    <form id="form_connexion" method="post" class="form-horizontal" role="form">
        <div id="erreurs"></div>

        <div class="form-group">
            <label for="pseudo" class="col-xs-12 col-sm-2 control-label"> Pseudo <span class="exige">*</span> : </label>
            <input id="pseudo" name="pseudo" type="text" class="col-xs-12 col-sm-6"
                   placeholder="Pseudo" />
        </div>
        
        <div class="form-group">
            <label for="motdepasseco" class="col-xs-12 col-sm-2 control-label"> Mot de passe <span class="exige">*</span> : </label>
            <input id="motdepasseco" name="motdepasse" type="password" class="col-xs-12 col-sm-6"
                   placeholder="Mot de passe" />
        </div>
      
        <br/>
        <div class="form-group">
            <div class="col-sm-offset-2">
                <button type="submit" name="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok-sign"></span> Envoyer </button>
            </div>
        </div>
    </form> <!-- fin du formulaire -->


    <div class="col-sm-offset-2">
        <a href="inscription.php">
            <span class="glyphicon glyphicon-record"></span> Pas encore inscrit ? </a>
    </div>

</section>
{% endblock %}


{% block block_scripts %}
    <script type="text/javascript" src="js/validationConnexion.js"></script>
{% endblock %}
