<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block titre %} Un monde de cocktails {% endblock %}</title>
    <meta charset="UTF8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5, user-scalable=yes">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.validate.password.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    {% block block_menu %}
    
    <header class="container">
        <noscript>
            <div class="row panel panel-danger">
                <p class="text-center text-danger">
                    Votre navigateur ne supporte pas JavaScript !
                    Une navigation optimale ne pourra être assurée...
                </p>
            </div>
        </noscript>
        <div id="main_menu" class="row">
            {{ include('menu.html.twig') }}
        </div>
    </header>
    
    {% endblock %}
    
    <div class="container">
        {% block block_principal %}

        <h1>Un monde de cocktails</h1>

            {% block block_erreur %}
                {% if erreur is defined %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-offset-2 col-sm-6 erreur">
                            <ul>
                                {% for e in erreur %}
                                <li> {{ e }} </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            <section class="container-fluid" id="section_logo">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                        <img src="img/cocktail_fond.jpg" id="logo"
                            class="img-responsive img-circle" alt="image cocktails" />
                    </div>
                </div>
                <a href="cocktails.php"><h3 class="text-center">Voir toutes les recettes</h3></a>
            </section>

        {% endblock %}
    </div>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/additional-methods.min.js"></script>
    <script type="text/javascript" src="js/pagination.js"></script>

    <script>
        var liste = [
            {% for key, re in recettes %}
            {value : "{{ re.titre }}" , id_link : {{ key }} },
            {% endfor %}
        ];

        $('#recherche').autocomplete({
            source : liste,
            minLength : 2,
            select : function(event, ui){
                location.href = 'recette.php?id=' +ui.item.id_link;
            }
        });
    </script>

    {% block block_scripts %}
    {% endblock %}
</body>
</html>
