{% extends 'index.html.twig' %}

{% block titre %} Inscription - {{ parent() }}{% endblock %}

{% block block_principal %}
    
    <h2 class="text-center"> Inscription </h2>

    {% block block_erreur %} {{ parent() }} {% endblock %}
    <br/>

    <form id="form_inscription" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="pseudo" class="col-xs-12 col-sm-2 control-label"> Pseudo <span class="exige">*</span> : </label>
            <input id="pseudo" name="pseudo" type="text" class="col-xs-12 col-sm-6" placeholder="Pseudo" />
        </div>

        <div class="form-group">
            <label for="motdepasse" class="col-xs-12 col-sm-2 control-label"> Mot de passe <span class="exige">*</span> : </label>
            <input id="motdepasse" name="motdepasse" type="password" class="col-xs-12 col-sm-6" placeholder="Mot de passe" />
        </div>
        <div class="form-group">
            <div class="password-meter col-xs-12 col-sm-offset-2 col-sm-6">
                <div class="password-meter-message"> </div>
                <div class="password-meter-bg">
                    <div class="password-meter-bar"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <hr class="col-xs-12 col-sm-offset-2 col-sm-6"/>
        </div>
        <div class="form-group">
            <label for="nom" class="col-xs-12 col-sm-2 control-label"> Nom : </label>
            <input id="nom" name="nom" type="text" class="col-xs-12 col-sm-6" placeholder="Nom" />
        </div>
        <div class="form-group">
            <label for="prenom" class="col-xs-12 col-sm-2 control-label"> Prénom : </label>
            <input id="prenom" name="prenom" type="text" class="col-xs-12 col-sm-6" placeholder="Prénom" />
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label"> Sexe : </label>
            <div class="col-xs-12 col-sm-6">
                <input name="sexe" type="radio" value="Homme" /> Homme
                <input name="sexe" type="radio" value="Femme" /> Femme
                <input name="sexe" type="radio" value="" /> Ne se prononce pas
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-xs-12 col-sm-2 control-label"> Adresse email : </label>
            <input id="email" name="email" type="text" class="col-xs-12 col-sm-6" placeholder="Email" />
        </div>
        <div class="form-group">
            <label for="naissance" class="col-xs-12 col-sm-2 control-label"> Date de naissance : </label>
            <input id="naissance" name="naissance" type="date" class="col-xs-12 col-sm-6" placeholder="jj/mm/aaaa" />
        </div>
        <div class="form-group">
            <label for="postale" class="col-xs-12 col-sm-2 control-label"> Adresse postale : </label>
            <input id="postale" name="postale" type="text" class="col-xs-12 col-sm-1" placeholder="CP"
                   onchange="getVille(value);" />
            <input id="ville" name="ville" type="text" class="col-xs-12 col-sm-2" placeholder="Ville"
                    onchange="getRue();"/>
            <input id="adresse" name="adresse" type="text" class="col-xs-12 col-sm-3" placeholder="Adresse" />
        </div>
        <div class="form-group">
            <label for="telephone" class="col-xs-12 col-sm-2 control-label"> Téléphone : </label>
            <input id="telephone" name="telephone" type="text" class="col-xs-12 col-sm-6" placeholder="Téléphone" />
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-2 col-xs-offset-1">
                <button type="submit" name="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok-sign"></span> Enregister </button>
            </div>
        </div>
    </form> <!-- fin du formulaire -->

{% endblock %}

{% block block_scripts %}
    <script type="text/javascript" src="js/validationInscription.js"></script>
    <script>
        $( "#ville" ).addClass( "hidden" );
        $( "#adresse" ).addClass( "hidden" );
    </script>
    <script>
        function getVille(codePostale)
        {
            //$.ajaxSetup({ traditional: true });

            //$.getJSON("http://www.cp-ville.com/cpcom.php?jsoncallback=?", { cpcommune: codePostale });

            $( "#ville").removeClass("hidden");
        }

        function jsoncallback(data)
        {
            /*if( $( "#postale").val() == '')
            {
                $( "#ville").addClass("hidden");
            }*/
        }

        function getRue()
        {
            $( "#adresse").removeClass("hidden");
        }

    </script>
{% endblock %}
