
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.php">Cocktails</a>
        </div>

        <div class="collapse navbar-collapse" id="collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="cocktails.php">
                    <span class="glyphicon glyphicon-glass"></span> Toutes les recettes </a>
                </li>
            </ul>
        
            <div class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input id="recherche" type="text" class="form-control" placeholder="Recherche">
                </div>
            </div>

            <ul class="nav navbar-nav navbar-right">
                
                {% if session.user_courant is defined %}

                <div class="col-xs-offset-1 navbar-text">
                    Bonjour {{ session.user_courant.pseudo|capitalize }}
                </div>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <button class="btn btn-warning">
                            <span class="glyphicon glyphicon-cog"></span> </button> </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="profil.php">
                            <span class="glyphicon glyphicon-user"></span> Profil</a></li>
                        <li><a href="changer_mdp.php">
                            <span class="glyphicon glyphicon-edit"></span> Changer password</a></li>
                        <li><a href="panier.php">
                                <span class="glyphicon glyphicon-star"></span> Mes favoris</a></li>
                        <li class="divider"></li>
                        <li> <a href="deconnexion.php">
                            <span class="glyphicon glyphicon-log-out"></span> Déconnexion </a> </li>
                    </ul>
                </li>
                {% else %}

                <div class="col-xs-offset-1 navbar-text">
                    <a href="panier.php">Mes favoris</a>
                </div>

                <li> <a href="connexion.php">
                    <span class="glyphicon glyphicon-log-in"></span> Connexion </a> </li>
                    
                {% endif %}
            </ul>
        </div> <!-- /.navbar-collapse -->

        {# si javascript est désactivé #}
        {% if session.user_courant is defined %}
            <noscript>
                <ul class="list-inline navbar-right">
                    <li><a href="profil.php">
                            <span class="glyphicon glyphicon-user"></span> Profil</a></li>
                    <li><a href="changer_mdp.php">
                            <span class="glyphicon glyphicon-edit"></span> Changer password</a></li>
                    <li><a href="panier.php">
                            <span class="glyphicon glyphicon-star"></span> Mes favoris</a></li>
                    <li class="divider"></li>
                    <li> <a href="deconnexion.php">
                            <span class="glyphicon glyphicon-log-out"></span> Déconnexion </a> </li>
                </ul>
            </noscript>
        {% else %}
            <noscript>
                <div class="visible-xs">
                    <div class="navbar-text">
                        <a href="panier.php">Mes favoris</a>
                        <a href="connexion.php" class="col-xs-offset-1">
                            <span class="glyphicon glyphicon-log-in"></span> Connexion </a>
                    </div>
                </div>
            </noscript>
        {% endif %}

    </div> <!-- /.container-fluid -->
</nav>
