<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Un monde de cocktails</title>
    <meta charset="UTF8" />
    <meta http-equiv="refresh" content="3;url={{ url }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="container">
    <div class="row">
        <div class="page-header">
            <h2>Message</h2>
        </div>
        <div class="well">
            {{ message|raw }}
        </div>
    </div>
</body>
</html>
